:root {
    --primary: #2C0088;
    --secondary: #F4485D;
    --app-backround: #FFFFFF;
}
/*<div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>*/
/*<div> Icons made by <a href="https://www.flaticon.com/authors/iyahicon" title="IYAHICON"> IYAHICON </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>*/

html {
     height: 100%; 
}

body {
    font-family: 'Be Vietnam';
    color: var(--primary);
    margin: 0;
    background-image: url("../img/ocean-background.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: powderblue; 
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.pageContent{
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

#appNavbar{
    background-color: var(--primary);
    padding: 0 2em;
    color: white;
    display: block;
    margin-bottom: -4em;
}

#logoImage{
    width: 6em;
    height:5em;
}

#appNavbar #horizontalBar{
  list-style-type: none;
  margin: 0;
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#appNavbar ul li{
    display: inline;
}

#appNavbar ul li a{
    text-decoration: none;
    color: var(--secondary)
}

#dropNavButtons{
    display: none ;
    margin-right: 1.5em;
    font-size: xx-large;
}

#verticalBar{
    display: none ;
    background-color: white;
    margin:0;
    padding:0;
    flex-direction: column;
}

#verticalBar li{
  cursor: pointer;
  color:var(--secondary);
  padding: 0.5em;
}

#verticalBar li:hover{
    border: solid 1px var(--secondary);
}

#navButtons{
    margin-top: 0.5em;
}

h1 {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    margin: 0;
}

h2 {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}

p {
    font-weight: 700;
    word-wrap: break-word;
}

label {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
}



.iconButton{
    color: white;
    text-decoration: none;
}

.informationCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    background-color: var(--app-backround);
    box-shadow: 5px 5px 20px rgba(44, 0, 136, 0.15);
    border-radius: 16px;
    padding: 2em 2em;
    z-index: 2;
    min-height: 55vh;
}

input[type=text] {
    box-sizing: border-box;
    padding: 0.8em 1.5em;
    border: 1px solid var(--primary);
    border-radius: 16px;
    color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5em;
}

/** Buttons styling  **/
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    font-weight: 700;
    font-size: 20px;
    height: 3em;
}

.button:hover {
    cursor: pointer;
    border-width: 2px;
}

.button:hover i {
    transition: 0.4s ease-in-out;
    transform: translateX(15px);
}

.primary-button {
    background-color: var(--app-backround);
    color: var(--primary);
    border: 1px solid var(--primary);
    padding-left: 2em;
    padding-right: 2em;
}

.secondary-button {
    background-color: var(--primary);
    color: var(--app-backround);
    border: 1px solid var(--primary);
    padding-left: 2em;
    padding-right: 2em;
}

.tertiary-button {
    background-color: var(--app-backround);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    width: 5.5em;
    border-radius: 16px;
    font-weight: 700;
    font-size: 15px;
    height: 4em;
    cursor:pointer;
}

.gridStats {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}



.gridContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.topOffGridContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.movesAndTimerContainer{
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap; 
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.iconButton {
    flex-direction: row;
}

#playpausebutton {
    padding-top: 8px;
    height: 24px;
    width: 24px;
    transform: rotate(0);
    transition: all .2s ;
} 


/** Media Queries **/
@media (max-width: 1000px) {

    #form,
    #howToInfo {
        min-width: 65vw;
    }

    .secondary-button {
        width: 65vw;
    }
}

@media (max-width: 630px) {

    h1 {
        font-size: 45px;
        text-align: center;
    }

    .buttonContainer {
        justify-content: center;
    }

    .primary-button {
        width: 7em;
    }

    .secondary-button {
        width: 80vw;
    }

    #form, #howToInfo, #leaderboardContainer{
        border-radius: 0;
        min-width: fit-content;
    }

    

}


@media (max-width: 600px) {
    input[type=text] {
        font-size: 15px;
    }
}

@media (max-width: 500px)  { 
    #navButtons{
        display: none;
    }

    #dropNavButtons{
        display: block ;
        margin-right: 1.5em;
        font-size: xx-large;
    }

    #horizontalBar{
        margin: 1em ;
    }

    #verticalBar li{
        display: none ;
    }

    #appNavbar{
        padding: 0;
        width: 107vw;
        margin-bottom: 0;
    }

    .pageContent{
        min-height: auto;
    }
}


/** Bubble Animation */
div {
    height: 4em;
    width: 4em;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
    z-index: -1;
}

div .dot {
    height: 1em;
    width: 1em;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}

div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
}

div:nth-child(4) {
    top: 90%;
    left: 30%;
    animation: animate 9s linear infinite;
}

div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

div:nth-child(7) {
    top: 40%;
    left: 85%;
    animation: animate 8s linear infinite;
}

div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

div:nth-child(9) {
    top: 90%;
    left: 50%;
    animation: animate 6s linear infinite;
}

div:nth-child(10) {
    top: 43%;
    left: 14%;
    animation: animate 10s linear infinite;
}

div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

div:nth-child(15) {
    top: 90%;
    left: 78%;
    animation: animate 7s linear infinite;
}


div:nth-child(16) {
    top: 8%;
    left: 5%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% { transform: scale(0) translateY(0) rotate(70deg); }
    100% {  transform: scale(1.3) translateY(-100px) rotate(360deg);}
}

