.btn_play_container {
    text-decoration: none;
    margin: auto;
}

.btn_play {
    text-decoration: none;
    border: 2px solid grey;
    border-radius: 2em;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

#btn-start-game {
    display: none;
}

.memory-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.memory-game article {
    margin: 0 0.2em 0.2em 0; 
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s; 
}

.grid4{
    width: 10vw;  
    height: 10vw;
  }

.grid6{
    width: 6vw;  
    height: 6vw;
}

.grid8{
    width: 5vw;  
    height: 5vw;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

#freePlayInputSection {
    display: none;
    flex-direction: row;
    justify-content: center;
}

#buttonPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#buttonPanel button {
    background-color: antiquewhite;
    border: solid 1px black;
    border-radius: 40px;
    width: 20vw;
    height: 2.5em;
    margin: 0.2em;
}

#buttonPanel button:hover {
    cursor: pointer;
}

#timer-container {
    display: flex;
    flex-direction: column;
}

#timer-button {
    flex: 1;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid grey;
    border-radius: 2em;
    padding: 10px;
}

.memory-card:hover {
    cursor: pointer;
}

.gameSectionDisplay {
    display: flex;
    flex-direction: row;
}

#time {
  margin-left: 3em;
  color: red;
}

#moves {
    color: red;
}

.gameSection {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 0em;
}

.gameInfo {
    padding: 2em;
}

.gameSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gameOver{
    display: none; 
    margin-top: 3em;
}


  /** Media Queries **/
  @media (max-width: 1000px)  { 
    .grid4{
        width: 14vw;  
        height: 14vw;
    }
    .grid6{
        width: 10vw;  
        height: 10vw;
    }
    .grid8{
        width: 8vw;  
        height: 8vw;
    }

    .gameSection{
        justify-content: space-evenly;
    }
}

@media (max-width: 800px)  { 
    .grid4{
        width: 18vw; 
        height: 18vw;   
      }
    .grid6{
        width: 13vw;  
        height: 13vw;
    }
    .grid8{
        width: 10vw;  
        height: 10vw;
    }

}


@media (max-width: 600px)  { 
    .grid4{
        width: 20vw;
        height:20vw;  
      }
    .grid6{
        width: 15vw;  
        height: 15vw;
    }
    .grid8{
        width: 11vw;  
        height: 11vw;
    }

    #gameOverImg{
        display: none;
    }
}