#leaderboardContainer {
    padding-left: 4em;
    padding-right: 4em;
    width: 80vw;
    gap: 1em;
    height: 80vh;
}

.activeFontColor {
    color: red;
}

tbody {
    display: block;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 2em;
}

.td-rank {
    display: flex;
    flex-direction: row;
    margin-left: 39%;
    gap: 1.3em;
}

.td-rank td {
    display: flex;
    flex-direction: row;
}

thead,
tbody tr,
tfoot {
    display: table;
    table-layout: fixed;
    width: 80vw;
}

tfoot {
    font-family: 'Be Vietnam';
    height: fit-content;
}

thead {
    width: calc(100% - 1em);
    font-family: 'Chewy';
    font-size: 32px;
    font-style: normal;
    line-height: 42px;
}

td {
    font-weight: 700;
    line-height: 1em;
    font-size: 20px;
    text-align: center;
}

#activePlayerResults-footer,
#activePlayerResults-header {
    color: #2C0088;
    font-family: 'Be Vietnam';
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    thead {
        font-size: 28px;
    }

    #leaderboardContainer {
        width: 70vw;
    }

    thead,
    tbody tr,
    tfoot {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .hideColumn {
        display: none;
    }

    .td-rank {
        display: flex;
        flex-direction: row;
        margin-left: 'none';
        margin: 'none';
        gap: 0em;
    }

    #leaderboardContainer {
        width: 50vw;
    }

    thead,
    tbody tr,
    tfoot {
        width: 50vw;
    }
}